* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #d7dbea;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: "";
    height: 4px;
    background-color: lightgray;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    z-index: -1;
    top: 50%;
    left: 0;
}

.progress {
    height: 4px;
    background-color: rgb(150, 150, 232);
    width: 0%;
    position: absolute;
    transform: translateY(-50%);
    z-index: -1;
    top: 50%;
    left: 0;
}

.steps {
    background-color: #fff;
    color: gray;
    border: 3px solid lightgray;
    border-radius: 50%;
    padding: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps.active {
    border-color: rgb(150, 150, 249);
}

.btn:disabled {
    cursor: not-allowed;
    background-color: rgb(150, 150, 249, .3);
}

.btn {
    color: #fff;
    background-color: rgb(150, 150, 249);
    border: 0;
    border-radius: 8px;
    margin: 5px;
    padding: 8px 24px;
    font-size: 1em;
    cursor: pointer;
}